/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    color: rgb(21, 27, 46);
    background: linear-gradient(270deg, #2c4c44, #397566);
    background-size: 400% 400%;
    
    /* Animated gradient background */
    -webkit-animation: BackgroundAnimation 30s ease infinite;
    -moz-animation: BackgroundAnimation 30s ease infinite;
    animation: BackgroundAnimation 30s ease infinite;
    
    @-webkit-keyframes BackgroundAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes BackgroundAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes BackgroundAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

/* Header */
.headline {
    font-family: 'Raleway', Times;
    font-size: 2em;
    color: rgb(255, 255, 255); 
    padding: 1em 0 1em 0;
    text-align: center;
}

/* Main Content */
.card {
    // Grid
    display: grid;
    grid-template-columns: 50% 50%;
    overflow-wrap: break-word;
    // Dimensions
    margin: auto;
    height: fit-content;
    width: 40%;
    // Colors
    font-family: 'Lato', sans-serif;
    background-color: white;
    // Borders
    border-radius: 10px;
    filter: drop-shadow(0 0 4rem #1b1b1b49);  

    &__location {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 3em;

        &__weather-icon {
            margin: 0;
            padding: 0;
            width: fit-content;
        }
    
        &__name {
            margin-bottom: 0.2em;
            font-size: 3em;
        }

        &__date {
            margin-bottom: 1em;
        }

        &__time {
            place-content: right;
        }
    }

    &__temperature {
        display: flex;
        flex-direction: column;
        text-align: right;
        padding: 3em;
    
        &__degree {
            margin-bottom: 0.2em;
            font-size: 3em;
        }

        &__feelslike {
            margin-bottom: 1em;
        }
    }
}

@media only screen and (max-width: 800px) {
    
    body {
        padding: 0 1em 1em 1em;
    }

    .card {
      // Grid
         display: grid;
         grid-template-columns: 100%;
         margin: 0 auto;
         width: 100%;

         &__location {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 2em;             
         }
            &__name {
                 margin-bottom: 0.2em;
                 font-size: 2em;
        }         

        &__temperature {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 0 2em 2em 2em;
         }
            &__degree {
                margin-bottom: 0.2em;
                font-size: 2em;
            }
    
            &__feelslike {
                margin-bottom: 1em;
            }
        }
}