/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 20% 0 20%;
    width: 100%;
    font-size: 16px;
    color: rgb(21, 27, 46);
    background-color: #8c9fb8;
}

/* Header */
.headline {
    font-family: 'Raleway', Times;
    font-size: 2em;
    color: rgb(20, 23, 32);  
    margin-top: 1em;
    text-align: center;
}

/* Main Content */
.card {
    // Grid
    display: grid;
    grid-template-columns: 50% 50%;
    // Dimensions
    margin: 2em 10% 0 10%;
    padding: 5em;
    height: fit-content;
    // Colors
    font-family: 'Lato', sans-serif;
    background-color: white;
    // Borders
    border-radius: 10px;
    filter: drop-shadow(0 0 4rem rgb(114, 133, 156));  

    &__location {
        display: grid;
        justify-content: center;
        text-align: left;
    
        &__name {
            margin-bottom: 0.2em;
            font-size: 3em;
        }
    }

    &__temperature {
        display: grid;
        justify-content: center;
        text-align: right;
    
        &__degree {
            margin-bottom: 0.2em;
            font-size: 3em;
        }

        &__feelslike {
            margin-bottom: 1em;
        }
    }
}

@media only screen and (max-width: 880px) {
    .card {
      // Grid
         display: grid;
         grid-template-columns: 100%;
         grid-template-rows: 50% 50%;
         margin: 2em 2% 0 2%;

         &__temperature {
            margin-top: 1em;
        }
    }
    body {
        padding: 2em 10% 0 10%;
    }
  }